/* Import CSS Variables and Component Styles */
@import './css/index.css';

/* Reset and Global settings */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: var(--font-family-base);
    line-height: var(--line-height-normal);
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--background-color-website);
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

/* Typography Settings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: var(--line-height-normal);
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    color: var(--text-color-secondary);
}

/* Anchor Links */
a {
    font-weight: 500;
    color: var(--accent-color);
    text-decoration: none;
    transition: color var(--transition-standard);
}

a:hover {
    color: var(--accent-color-hover);
}

/* Buttons and other interactive elements */
button {
    border-radius: var(--border-radius);
    border: var(--button-border);
    padding: var(--button-padding-vertical) var(--button-padding-horizontal);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    font-family: inherit;
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    cursor: pointer;
    box-shadow: var(--button-box-shadow-hover);
    transition: background-color var(--transition-standard), transform var(--transition-standard);
}

button:hover {
    background-color: var(--button-background-color-hover);
    transform: translateY(-2px);
}

button:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--padding-small);
}

/* Scrollbar improvements (for modern browsers) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--background-color-secondary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
}

/* Responsive Media Queries */
@media (max-width: 600px) {
    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }
}